{% for imagen in imagenesClientes %}
	<div class="col-xs-12 col-sm-3">
		<img class="img-responsive" src="{{ asset(imagen.getUrlClientes()) }}" alt="client's picture">
		<h5>{{ imagen.getDescripcion() }}</h5>
		<q>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</q>
	</div>
{% endfor %}
